[Unit]
Description=FastAPI IoT API
After=network.target mariadb.service

[Service]
Type=exec
User=apiuser
WorkingDirectory=/opt/my-api-iot
Environment=PATH=/opt/my-api-iot/venv/bin
ExecStart=/opt/my-api-iot/venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=10
StandardOutput=append:/var/log/my-api-iot.log
StandardError=append:/var/log/my-api-iot.log

[Install]
WantedBy=multi-user.target
